.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.rds
GP_ANCOVA_output.RData
GP_ANCOVA.rds
GP_single_par.rds
GP_ANCOVA_2.rds
GP_ANCOVA_3.rds
compare3.RData
no f=f-mean(f).RData
f=f-mean(f).RData
regularized_horseshoe.RData
GP_ANCOVA_6.stan
Stanfit40minutes.RData
N150itr3e3Compare.RData
4e3GP.RData
mse of hs.RData
GPR_horseshoe.rds
GPR_invgamma.rds
GPR_normal.rds
GP_ANCOVA_7.rds
fit_kidiq.png
fit_results_ANCOVA.RData
fit_results_ANCOVA_constant.RData
fit_results_ANCOVA_finnish.RData
fit_results_ANCOVA_finnish11.RData
fit_results_ANCOVA_finnish21.RData
fit_results_ANCOVA_finnish31.RData
fit_results_ANCOVA_finnish313.RData
fit_results_ANCOVA_hs.RData
kidiq_stan_fit_7.RData
posterior_summary.RData
progress.log
GPR_invgamma101.rds
GP_ANCOVA_constant.RData
posterior_summary_compare_inv.RData
GPR_invgamma105.rds
