.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.rds
GP_ANCOVA_output.RData
GP_ANCOVA.rds
GP_single_par.rds
GP_ANCOVA_2.rds
GP_ANCOVA_3.rds
compare3.RData
no f=f-mean(f).RData
f=f-mean(f).RData
kidiq.csv
